AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript



<FilesMatch "\.(css|js|ico|pdf|html|jpg|jpeg|png|gif|svg|mp3|mp4)$">
Header set Cache-Control "public"
Header set Expires "Thu, 15 Apr 2030 20:00:00 GMT"
SetOutputFilter DEFLATE
</FilesMatch>
