.optionProducts
	display none
	@media screen and (min-width:992px)
		display block 
	ul
		margin-top 50px
		@media screen and (min-width:992px)
			margin-top 40px
		li
			display inline-block
			margin-right -4px
			width 90px
			margin-bottom 30px
			@media screen and (min-width:992px)
				margin-bottom 0
			a
				display block
				img
					margin 0 auto 2px
				p
					line-height 0.95em
					text-align center
					font-generator(f_breef,14px,normal,blueText,none)
				