.contentBox
	&.puntoventa
		background url('../image/bgpunto.jpg') center center no-repeat 
		background-size cover
		width 100%
		height 100%
		padding-top 110px
		padding-bottom 100px
		.boxImage
			absolute top 0 left 0
			z-index 5
			&.quinua
				left 80%
				top -162px
				display none
				@media screen and (min-width:992px)
					left 90%
					display block
			&.pepa
				left -148px
				top -212px
				display none
				@media screen and (min-width:992px)
					top -212px
					display block
				@media screen and (min-width:1200px)
					top -212px
		.puntoBox
			margin 0
			width 100%
			background rgba(0,69,151,.9)
			margin 40px auto 0
			@media screen and (min-width:992px)
				width 792px
			ul
				margin 60px 0 0
				padding 0
				display flex
				list-style none
				flex-direction column
				flex-wrap wrap
				justify-content center
				align-items flex-start
				padding-top 70px
				padding-bottom 60px
				padding-left 50px
				@media screen and (min-width:768px)
					padding-left 0
					flex-direction row
					justify-content center
				li
					margin-bottom 30px
					&:last-child
						margin-bottom 0
						@media screen and (min-width:768px)
							padding-left 50px
					img, hgroup
						display inline-block
						margin-right -4px
						vertical-align top
					hgroup
						width auto
						text-align left
						padding-left 10px
						p
							font-generator(f_breef,13px,normal,#f2f2f2, none)
							&.phone
								font-size 18px
							
						h3
							font-generator(f_breef,20px,normal,gris2TextP, none)
		h2, h1
			color blueText
		&:before
			content ''
			background url('../image/curva-product.png') center center no-repeat 
			background-size cover
			height 90px
			width 100%
			absolute top -24px left 0
			z-index 2
			@media screen and (min-width:1200px)
				height 120px
		