/*
* Instalamos la libreria nib
*/
@import '../node_modules/nib'
@import '../css/fonts.css'
//@import '~/webpack-practica2/node_modules/rocket-flicker/css/flicker.min.css'

/*
* cargamos nuestras fuentes
*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Lemonada:400,600,700');
/*
* llamamos a sus funciones de nib
*/
normalize-base()
normalize-html5()

@import 'stylus/variable'
@import 'stylus/mix'
@import 'stylus/header'
@import 'stylus/banner'
@import 'stylus/home'
@import 'stylus/content'
@import 'stylus/products'
@import 'stylus/bannerproducts'
@import 'stylus/puntoventa'
@import 'stylus/contact'
@import 'stylus/footer'